:root {
    --default-background: #FFFFFF;
    --active-link: #2196F3;
    --footer-background: #2F303A;
    --title-color: #212121;
    --paragraph-color: #757575;
    --buttons-background: #F5F4FA;
    --default-color: #000;
}

body {
    font-family: Roboto, 'Courier New', Courier, monospace;
    background-color: var(--default-background);
    font-style: normal;
}

.global-header {
    background-color: var(--default-background);
}

.logo {
    font-family: Raleway, 'Courier New', Courier, monospace;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

}

.logo-web {
    color: var(--active-link);
}

.logo-studio {
    color: var(--default-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#current {
 color: var(--active-link)
}

.header-navigation a {
    color: var(--title-color)
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-navigation a:hover,
.header-navigation a:focus,
.header-navigation a:active {
    color: var(--active-link);
}

.contact {
    color: var(--paragraph-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.global-header .contact:hover {
    color: var(--active-link);
}

.request-service {
background-color: var(--footer-background);
}

.main-title {
    color: var(--default-background);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.request-button {
    color: var(--default-background);
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    /* 187.5% */
    letter-spacing: 0.96px;
    background-color: var(--active-link);
    cursor: pointer;
}

.request-button:hover,
.request-button:focus {
    background-color: #188ceb;
}

.company-values h3 {
    color: var(--title-color)
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.company-values p {
    font-size: 14px;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

p {
color: var(--paragraph-color);
}

.sections-title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.our-team {
    background: var(--buttons-background);
}

.our-team h3 {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.our-team p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.global-footer {
    background-color: var(--footer-background);
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-logo-web {
    color: var(--active-link);
}

.footer-logo-studio {
    color: var(--default-background);
}

.phisical-address {
    color: var(--default-background);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.42px;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    /* 114.286% */
    letter-spacing: 0.42px;
}

.global-footer .footer-contact:hover,
.global-footer .footer-contact:focus {
    color: var(--active-link);
} 

/* Page portofolio */

.buttons button {
    cursor: pointer;
    background-color: var(--buttons-background);
    color: var(--title-color);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
    letter-spacing: 0.48px;
}

.buttons button:hover,
.buttons button:focus,
.buttons button:active {
    background-color: var(--active-link);
}

.services-types h3 {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    /* 200% */
    letter-spacing: 1.08px;
}

.services-types p {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

